$transparent-white-text: rgba(255, 255, 255, 0.8);
$solid-white-text: white;
$header-bg: rgb(0, 0, 0);
$transparent-black-bg: rgba(0, 0, 0, 0.7);
$standard-box-border-radius: 15px;
$site-red-color: #f15858;
